---
import Counter from "../components/Counter.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="w-full justify-center mt-24">
    <div class="w-3/4 mx-auto ">
      <h2 class="">
        यहाँ आसान भाषा में वेबसाइट बनाने सम्बन्धी जानकारी साझा किया जायेगा।
      </h2>
      <Counter client:visible>
        <h1>Hello, Vue!</h1>
      </Counter>
      <a href="/posts/role">role</a>
    </div>
  </div>
</Layout>
