---
const name = "About to Go";
import PostLayout from "../layouts/PostLayout.astro";
---

<PostLayout content="about">
  <div class="p-4 m-4">
    <h2>{name}</h2>
    <h2 class="text-red-500 text-8xl mt-9 font-bold">Hello</h2>
  </div>
</PostLayout>
