---
import Counter from "@/components/Counter.vue";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="about">
  <div class="min-w-full min-h-screen container">
    <div class="w-[90%] conatainer mx-auto py-5">
      <h2 class="mb-5 text-center">
        यहाँ आसान भाषा में वेबसाइट बनाने सम्बन्धी जानकारी साझा किया जायेगा।
      </h2>
      <div class="conatainer mx-auto gap-5">
        <div class="w-7/12 mx-auto">
          <Counter client:only />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
