---
import Card from '@/components/Card.astro';
import ThemeChange from '@/components/ThemeChange.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
const posts = await Astro.glob('./posts/*.md');
import '@/styles/base.css';
---

<BaseLayout title="Astro Tailwind with new packages">
  <div class="w-full h-screen justify-center">
    <div class="w-[90%] md:w-[80%] h-screen mx-auto">
      <h1 class="title">Astro Js with new Packages 🚀</h1>

      <div class="grid md:grid-cols-2 place-items-stretch gap-4">
        {
          posts.map((post) => (
            <div class="card w-[100%]  shadow-md border-x hover:border-2 backdrop-blur-lg hover:shadow-2xl hover:transition-all duration-300 ease-in-out bounce">
              <div class="card-body">
                <li class="list">
                  <a
                    class=" underline pl-3"
                    href={`/posts/${post.frontmatter.slug}`}
                  >
                    {post.frontmatter.name}
                  </a>
                </li>
                <p class="pace-y-1 px-2 truncate md:text-clip">
                  {post.frontmatter.discription}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  .list {
    list-style-type: '\1F449';
  }
</style>
