---
import BaseLayout from '@/layouts/BaseLayout.astro';
const posts = await Astro.glob('./posts/*.md');
import { SITE_TITLE } from '@/config';
import Hero from '@/components/Hero.astro';
---

<BaseLayout title={SITE_TITLE}>
  <Hero title="Blog in Astro" subtitle="Learning Astro is Easy" />
  <div class="max-w-full min-h-screen my-5 transition-all ease-linear">
    <div class="max-w-[90%] h-screen mx-auto">
      <div class="flex items-center py-5">
        <h1 class="">Astro Js with new Packages</h1><span>🚀</span>
      </div>

      <div class="grid md:grid-cols-2 place-items-stretch gap-4">
        {
          posts.map((post) => (
            <div class=" card w-[100%] shadow-md border-x hover:border-2 backdrop-blur-lg hover:shadow-2xl hover:transition-all duration-300 ease-in-out">
              <div class="card-body">
                <ul class=" ">
                  <li class="list">
                    <a
                      class=" underline pl-3 justify-between "
                      href={`/posts/${post.frontmatter.slug}`}
                    >
                      {post.frontmatter.name}
                    </a>
                  </li>
                </ul>
                <p class="pace-y-1 px-2 truncate md:text-clip">
                  {post.frontmatter.discription}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  .list {
    list-style-type: '\1F449';
  }
</style>
