---
import BaseLayout from "../layouts/BaseLayout.astro";
const posts = await Astro.glob("./posts/*.md");
import Theme from "../components/Theme.vue";
import "../styles/base.css";
---

<BaseLayout title="Astro Tailwind with new packages">
  <div class="w-full h-screen justify-center mt-20 ">
    <div class=" w-[80%] mx-auto">
      <h2
        class="text-green-500 text-xl md:text-3xl transition-all mt-28 mb-9 font-bold "
      >
        Astro Js with new Packages 🚀
      </h2>
      {posts.map((post) => (
        <div class="card w-96 bg-base-100 shadow-md hover:shadow-2xl hover:transition-all duration-500 ease-in-out mt-8 glass">
          <div class="card-body">
            <li class="list">
              <a class=" text-amber-600 underline pl-3" href="/posts/post">
                {post.frontmatter.name}
              </a>
            </li>
          </div>
        </div>
      ))}
    </div>
  </div>
</BaseLayout>
<style>
  .list {
    list-style-type: "\1F449";
  }
</style>
