---
import BaseLayout from "../layouts/BaseLayout.astro";
const posts = await Astro.glob("./posts/*.md");
import Theme from "../components/Theme.vue";
import "../styles/base.css";
---

<BaseLayout title="Astro Tailwind with new packages">
  <div class="w-full h-screen justify-center mt-20 ">
    <div class="w-3/4 mx-auto">
      <h2 class="text-green-500 text-3xl mt-48 mb-9 font-bold ">
        Astro Js with new Packages 🚀
      </h2>
      {posts.map((post) => (
        <h1>
          <a class="text-amber-600 underline" href="/posts/post">
            {post.frontmatter.name}
          </a>
        </h1>
      ))}
    </div>
  </div>
</BaseLayout>
