---
import { Icon } from "astro-icon";
import Theme from "./Theme.vue";

const {} = Astro.props;
---

<header
  class="fixed top-0 z-40 flex-none mx-auto w-full backdrop-blur-2xl border-b dark:border-b-0"
>
  <div
    class="py-3 px-3 mx-auto w-full lg:flex lg:justify-between max-w-6xl lg:px-4 transition-all duration-300"
  >
    <div class="flex justify-between">
      <a class="flex items-center" href="/">
        <span
          class="self-center ml-2 sm:text-xl md:text-2xl transition-all duration-300 md:font-bold text-orange-500 whitespace-nowrap hover:text-pink-800"
          >Astro-Tailwind
        </span>
      </a>
      <div class="flex items-center lg:hidden">
        <!-- <button
          type="button"
          class="text-gray-500 dark:text-gray-400  focus:outline-none    rounded-lg text-sm p-2.5 inline-flex items-center"
          onclick="window.toggleDarkMode()"
        >
          <Icon
            name="carbon:sun"
            class="h-6 hover:text-green-600 hover:scale-125 transition-all duration-300"
          />
        </button> -->
        <button
          class="ml-1focus:outline-none focus:ring-4  rounded-lg text-sm p-2.5 inline-flex items-center"
          onclick="toggleMenu()"
        >
          <Icon name="carbon:menu" class="h-6" />
        </button>
      </div>
    </div>
    <div class="items-center w-full lg:w-auto hidden lg:flex " id="menu">
      <ul
        class="flex flex-col py-2 lg:py-0 lg:flex-row lg:self-center collapse w-full lg:w-auto collapsed"
      >
        <li>
          <a
            class="font-medium  px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="/about"
            >About
          </a>
        </li>
      </ul>
      <div
        class="lg:self-center flex items-center mb-4 lg:mb-0 collapse collapsed"
      >
        <div class="hidden items-center mr-3 lg:flex">
          <!-- <button
            type="button"
            class="text-gray-500 dark:text-gray-400  focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
            onclick="window.toggleDarkMode()"
          >
            <Icon
              name="carbon:sun"
              class="h-6 hover:text-green-600 hover:scale-110 transition-all duration-300"
            />
          </button> -->
          <a
            href="https://github.com/dramodrai"
            target="_blank"
            class="inline-blockrounded-lg text-sm p-2.5 mr-1"
          >
            <Icon
              name="mdi:github"
              class="h-6 hover:text-green-600 hover:scale-110 transition-all duration-300"
            />
          </a>
          <!-- <Dark client:load /> -->

          <!-- <a class="inline-flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium  text-center ml-3 btn-sm" href="/login/">Get started
          </a> -->
        </div>
      </div>
      <Theme client:load />
    </div>
  </div>
  <!-- <script is:inline>
    function toggleDarkMode() {
      document.documentElement.classList.toggle("dark");
      localStorage.theme = document.documentElement.classList.contains("dark")
        ? "dark"
        : "light";
    }
    window.toggleDarkMode = toggleDarkMode;

    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }

    function toggleMenu() {
      document.getElementById("menu").classList.toggle("hidden");
    }
    window.toggleMenu = toggleMenu;
  </script> -->
  <script is:inline>
    function toggleMenu() {
      document.getElementById("menu").classList.toggle("hidden");
    }
    window.toggleMenu = toggleMenu;
  </script>
</header>
