---
export interface Props {
  title?: string;
  subtitle?: string;
}
const { title, subtitle } = Astro.props as Props;
---

<section class="bg-gradient-to-b from-slate-50 via-slate-100 to-slate-400">
  <div
    class="container sm:h-[90vh] flex flex-col items-center justify-center text-center p-3 sm:p-12 mx-auto bg-gradient-to-r bg-clip-text text-transparent from-indigo-500 via-purple-500 to-red-500 animate-text drop-shadow-xl"
  >
    <h1 class="sm:text-8xl">{title}</h1>
    <p>{subtitle}</p>
  </div>
</section>
