---
import { Icon } from "astro-icon";
import Theme from "./Theme.vue";
---

<div class="w-full shadow-md">
  <div class="md:w-[90%] mx-auto">
    <div class="navbar">
      <div class="navbar-start">
        <div class="dropdown">
          <label
            tabindex="0"
            class="btn btn-ghost lg:hidden"
            onclick="this.parentElement.classList.toggle('dropdown-open');document.activeElement.blur()"
          >
            <Icon name="mdi:menu-close" class="h-6" />
          </label>
          <ul
            tabindex="0"
            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a href="/about">About</a></li>
            <li tabindex="0">
              <a class="justify-between">
                Blog
                <Icon name="ic:baseline-keyboard-arrow-right" class="h-6" />
              </a>
              <ul class="p-2 shadow bg-base-100">
                <li><a>Tech Blog</a></li>
                <li><a>Lit Blog</a></li>
              </ul>
            </li>

            <Theme client:load />
          </ul>
        </div>
        <a href="/" class="btn btn-ghost normal-case text-xl">Astro-Tailwind</a>
      </div>
      <div class="navbar-end hidden lg:flex z-50">
        <ul class="menu menu-compact menu-horizontal p-0">
          <li><a href="/about">About</a></li>
          <li tabindex="0">
            <a>
              Blog
              <Icon name="ic:baseline-keyboard-arrow-down" class="h-6" />
            </a>
            <ul class="p-2 shadow bg-base-100">
              <li><a>Tech Blog</a></li>
              <li><a>Lit Blog</a></li>
            </ul>
          </li>
          <!-- <li><a>Item 3</a></li> -->
        </ul>
        <Theme client:load />
      </div>
    </div>
  </div>
</div>
