---
import { Icon } from 'astro-icon';
import ThemeChange from './ThemeChange.astro';
---

<div class="w-full shadow-md">
  <div class="md:w-[90%] mx-auto">
    <div class="navbar flex">
      <div class="navbar-start">
        <div class="dropdown">
          <label
            tabindex="0"
            class="btn btn-ghost lg:hidden"
            onclick="this.parentElement.classList.toggle('dropdown-open');document.activeElement.blur()"
          >
            <Icon name="mdi:menu-close" class="h-6" />
          </label>
          <ul
            tabindex="0"
            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a href="/about">About</a></li>
            <li tabindex="0">
              <a href="#" class="justify-between">
                Blog
                <Icon name="ic:baseline-keyboard-arrow-right" class="h-6" />
              </a>
              <ul class="p-2 shadow bg-base-100">
                <li><a href="#">Tech Blog</a></li>
                <li><a href="#">Lit Blog</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <a href="/" class="btn btn-ghost normal-case text-xl">Astro-Tailwind</a>
      </div>
      <div class="flex navbar-end focus:border-none px-4">
        <div class="navbar-end hidden lg:flex z-50">
          <ul class="menu menu-compact menu-horizontal p-0">
            <li><a href="/about">About</a></li>
            <li tabindex="0">
              <a href="#">
                Blog
                <Icon name="ic:baseline-keyboard-arrow-down" class="h-6" />
              </a>
              <ul class="p-2 shadow bg-base-100">
                <li><a href="#">Tech Blog</a></li>
                <li><a href="#">Lit Blog</a></li>
              </ul>
            </li>
            <!-- <li><a>Item 3</a></li> -->
          </ul>
          <!-- <Theme client:load /> -->
        </div>
        <ThemeChange />
      </div>
    </div>
  </div>
</div>
