---
export interface Props {
  title: string;
  theme: string;
}
const { title, theme } = Astro.props as Props;

import Header from "../components/Header.astro";
import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <script>
      // Render blocking JS:
      if (localStorage.theme)
        document.documentElement.setAttribute("data-theme", localStorage.theme);
    </script>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
