---
const { title, description } = Astro.props;

import Navbar from '@/components/Navbar.astro';
import BaseHead from '@/components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config';
import '@/styles/base.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    <Navbar />
    <slot />
  </body>
</html>
