---
export interface Props {
  content: string;
}

const { content } = Astro.props;
import Header from "../components/Header.astro";
import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{content.name}</title>
    <script>
      // Render blocking JS:
      if (localStorage.theme)
        document.documentElement.setAttribute("data-theme", localStorage.theme);
    </script>
  </head>
  <body class=" scroll-smooth transition-all duration-300">
    <Header />
    <div class="w-full justify-center items center">
      <div class="w-3/4 mx-auto">
        <div class="mt-24 mb-9"></div>
        <h1 class="text-4xl">{content.name}</h1>
        <slot />
      </div>
    </div>
  </body>
</html>
