---
export interface Props {
  content: string;
}

const { content } = Astro.props;
import Navbar from "@/components/Navbar.astro";
import "@/styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{content.name}</title>
    <script>
      // Render blocking JS:
      if (localStorage.theme)
        document.documentElement.setAttribute("data-theme", localStorage.theme);
    </script>
  </head>
  <body class="scroll-smooth transition-all duration-300">
    <Navbar />
    <div class="w-full justify-center items center">
      <div class="h-screen py-5 mx-0">
        <article class="prose prose-xs lg:prose-base mx-auto">
          <slot />
        </article>
      </div>
    </div>
  </body>
</html>
