---
export interface Props {
  content: string;
  title: string;
  description: string;
}

const { content, description, title } = Astro.props;
import BaseHead from '@/components/BaseHead.astro';
import Navbar from '@/components/Navbar.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config';
import '@/styles/base.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="scroll-smooth transition-all duration-300">
    <Navbar />
    <div class="w-full justify-center items center">
      <div class="h-screen py-5 mx-auto">
        <article
          class="prose prose-base lg:prose-lg mx-auto max-w-5xl px-3 md:px-8 py-4 md:py-8"
        >
          <slot />
        </article>
      </div>
    </div>
  </body>
</html>
